/* style.css */

/* Set the map container size and center it on the screen */
#map {
    height: 500px;
    width: 50%; /* Adjust the width as needed */
    margin: 50px auto; /* Center the map horizontally */
}

/* Create a center container class for the buttons */
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the buttons */
.button-container {
    margin-top: 0px; /* Adjust the margin as needed to prevent overlap with the map */
}

#left_arrow,
#right_arrow {
    font-size: 24px; 
}